.modal-parent {
  background-color: rgb(0, 0, 0, 0.4);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: +5;
}

.modal-card {
  background-color: rgb(250, 249, 249);
  width: 35%;
  cursor: default;
  z-index: +10;
}

.hide-modal {
  display: none;
}
